{
  "presets": [
    ["@babel/preset-env", {
      "targets": { 
        "node": "10"
      }
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./src/server",
            "common/config": "./src/server/common/configs/development",
            "common": "./src/server/common",
            "config": "./src/server/configs/development"
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./src/server",
            "common/config": "./src/server/common/configs/production",
            "common": "./src/server/common",
            "config": "./src/server/configs/production"
          }
        }]
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./src/server",
            "common/config": "./src/common/configs/test",
            "common": "./src/common",
            "config": "./src/server/configs/test"
          }
        }]
      ]
    }
  }
}
