{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { 
          "node": "10"
        },
        "forceAllTransforms": true
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "decoratorsBeforeExport": true }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./src/common",
            "config": "./src/common/configs/development"
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./src/common",
            "config": "./src/common/configs/production"
          }
        }]
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./src/common",
            "config": "./src/common/configs/test"
          }
        }]
      ]
    }
  }
}
