{
  "presets": [["env", {
    "targets": { 
      "node": "10"
    }
  }]],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "~": "./test/server",
            "common": "./src/common",
            "server": "./src/server",
            "test-utils": "./src/test-utils",
            "test-data": "./src/test-data"
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "~": "./test/server",
            "common": "./src/common",
            "server": "./src/server",
            "test-utils": "./src/test-utils",
            "test-data": "./src/test-data"
          }
        }]
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "~": "./test/server",
            "common": "./src/common",
            "server": "./src/server",
            "test-utils": "./src/test-utils",
            "test-data": "./src/test-data"
          }
        }]
      ]
    }
  }
}
