{
  "presets": [
    ["@babel/preset-env", {
      "targets": { 
        "node": "10"
      }
    }],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "decoratorsBeforeExport": true }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./test/server",
            "common": "./src/common",
            "server": "./src/server",
            "common-config": "./src/common/configs/development",
            "server-config": "./src/server/configs/development",
            "test-utils": "./src/test-utils",
            "test-data": "./src/test-data"
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./test/server",
            "common": "./src/common",
            "server": "./src/server",
            "common-config": "./src/common/configs/production",
            "server-config": "./src/server/configs/production",
            "test-utils": "./src/test-utils",
            "test-data": "./src/test-data"
          }
        }]
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./test/server",
            "common": "./src/common",
            "server": "./src/server",
            "common-config": "./src/common/configs/test",
            "server-config": "./src/server/configs/test",
            "test-utils": "./src/test-utils",
            "test-data": "./src/test-data"
          }
        }]
      ]
    }
  }
}
